.todo-item {
  padding: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  .tick {
    margin-right: 1rem;
  }
  .text {
    flex: 1;
    word-break: break-all;
    &.done {
      text-decoration: line-through;
    }
  }
  .delete {
    margin-left: 1rem;

    color: #d83624;
    font-size: 0.8rem;
    &:hover {
      color: #e5a7a0; 

    color: #e5a7a0;
    font-size: 0.8rem;
    &:hover {
      color: #d83624;

      text-decoration: underline;
    }
  }
  &:nth-child(odd) {
  // 홀수 번째 요소에는 회색 배경
    background: #c1b7b6;
  }
  &:hover {
    background: #847d7c;
  }
}
 
.todo-item + .todo-item {
  // 컴포넌트 사이에 위쪽 테두리를 설정합니다.

  border-top: 1px solid #dbd5d4;
  border-top: 1px solid #847d7c;

}